{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.3/css/bootstrap.min.css' %}">
    <link href="{% static 'vendor/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/resetpass_style.css' %}">

    <script src="{% static 'vendor/fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>
    <title>Login</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            
            <div class="col-md-12 right-box">
                
                <div class="row align-items-center">

                    <div class="header-text mb-4 text-start mt-3 d-flex align-items-center justify-content-between">
                        <div>
                            <h5>Reset your password before accessing your account.</h5>
                        </div>
                    </div>
                    
                    <form action="{% url 'reset_password' %}" method="post" id="resetPassForm" name="resetPassForm">
                        {% if messages %}
                        <div>
                            {% for message in messages %}
                                <div id="messages" class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        {% csrf_token %}
                        <div class="form-floating mb-3 position-relative">
                            {{ form.new_pass }}
                            <label>New Password</label>
                            <button type="button" class="btn position-absolute top-50 end-0 translate-middle-y me-3 p-0 togglePassword" 
                                data-target="new_pass" style="background: none; border: none; cursor: pointer;">
                                <small>Show</small>
                            </button>
                        </div>     
                        <div class="form-floating mb-3 position-relative">
                            {{ form.cpass }}
                            <label>Confirm Passowrd</label>
                            <button type="button" class="btn position-absolute top-50 end-0 translate-middle-y me-3 p-0 togglePassword" 
                                data-target="cpass" style="background: none; border: none; cursor: pointer;">
                                <small>Show</small>
                            </button>
                        </div>
                        <div class="input-group mb-3">
                            <button type="submit" id="login" name="login" class="btn btn-login btn-lg w-100 fs-6">Reset Password</button>
                        </div>
                    </form>
                    
                </div>

            </div>
        
        </div>
    
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.togglePassword').forEach(button => {
            button.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                const passwordField = document.getElementById(targetId);
                
                // Toggle password field type
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);

                // Toggle button text
                this.querySelector('small').textContent = type === 'password' ? 'Show' : 'Hide';
            });
        });
    });
</script>
</html>