{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.3/css/bootstrap.min.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>

    <!-- temporarily added -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
                <!-- <button type="button" id="logout" name="logout" class="btn btn-logout"> -->
                {% if user_role == "Admin" %}
                <button type="button" id="goto-dashboard" name="goto-dashboard" class="btn btn-dashboard">
                    <i class="fa-solid fa-house" style="color: white;"></i>
                </button>
                {% endif %}
                <span class="navbar-brand">Barangay Sto. Niño</span>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="user text-end">
                    <span class="navbar-text">{{full_name}}</span>
                </div>
                <span class="navbar-text d-none d-sm-inline">-</span>
                <div class="user-type text-end">
                    <span class="navbar-text">{{user_role}}</span>
                </div>
                <button type="button" id="logout" name="logout" class="btn btn-logout" onclick="confirmLogout()">
                    <i class="fa-solid fa-right-from-bracket fa-lg" style="color: white;"></i>
                </button>
                
            </div>
        </div>
    </header>   

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-3">
                        {% if user_role == "Admin" or user_role == "Barangay Clerk" or user_role == "Barangay Captain" %}
                            <a class="nav-link {% if request.resolver_match.url_name == 'register_resident' %}active{% endif %}" href="{% url 'register_resident' %}">Register Resident</a>
                        {% endif %}
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.resolver_match.url_name == 'all_residents' %}active{% endif %}" href="{% url 'all_residents' %}">All Residents</a>
                    </li> 
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.resolver_match.url_name == 'clearklogs' %}active{% endif %}" href="{% url 'clearklogs' %}">My Audit Logs</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.resolver_match.url_name == 'get_clerk_logs' %}active{% endif %}" href="{% url 'get_clerk_logs' %}">Clerk Audit Logs</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if request.resolver_match.url_name == 'system_logs' %}active{% endif %}" href="{% url 'system_logs' %}">User Sessions</a>
                    </li>                         
                </ul>
            </div>
        </div>
    </nav>

    <main class="">
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </main>
</body>
</html>

<script src="{% static 'js/common.js' %}"></script>